<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="bivano.apps.homefeature">
    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module
        dist:instant="false"
        dist:title="@string/title_homefeature">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
</manifest>